.navbar_container {
  margin: 10px auto 20px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.menu {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  /* background: #fe3; */
}
